body {
	max-width: 1080px;
	margin: auto;
	background-color: #CCC;
	font-family: sans-serif;
	box-sizing: border-box;
}

button {
	border: 0px;
	border-radius: 8px;
	padding: 1em 1em;
	margin: 3px;
	background-color: #EEE;
}

button:hover {
	background-color: #DDD;
}

button:active {
	background-color: #BBB;
}

.guess-lozenge {
	display: inline-block;
	min-width: 1em;
	padding: 0.2em;
	text-align: center;
	border-radius: 8px;
	background-color: #EEE;
	margin: 0.1em;
}

#queryDiv {
	font-size: 3em;
	height: 1.6em;
	padding: 0.3em;
	border: 1px solid darkgray;
	background-color: #BBB;
	margin-bottom: 0.5em;
	text-align: center;
}

.query-control-button {
	font-size: 1.5em;
}

.controls-div {
	text-align: center;
}

.condition-selector-button {
	font-size: 1.2em;
}


#guessBtn {
	width: 100%;
	font-size: 1.5em;
	background-color: #3C3;
}